<h1> Hello! Wanna play game?</h1>

<p>New Game</p>
<%= link_to image_tag("tictac.png", width:80, height:80), "games/new" %>
<br>
<%= link_to 'Create new player!', 'players/new' %> <!-- Here this player/new seems like not the best solution. Fix please -->
<p><%= link_to 'Already have an account', 'sessions/new' %> </p>

<p><%= link_to 'New offline tic tac toe!', 'ticgames/new' %> </p>