<h1> Hello! Wanna play game?</h1>

<p>New Game:</p>
<%= link_to image_tag("tictac.png", width:80, height:80), "game/new" %>
<p>New player</p>
<%= link_to 'Create new player!', 'player/show' %> <!-- Here this player/new seems like not the best solution. Fix please -->
<p>Already have an account</p>
